#header-links{
	margin-left:5%;
	color: black;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 10px;
}
#bigheader{
	width: 100%;
	background-color: white;
	height: 10px;

}
#header{
	width: 80%;
	margin-left: 10%;
}

#header1{
	width: 50%;
}
#header2{
	width:50%;
	margin-left:50%;
	margin-top:-30px;
	color: black;
}
#background-header{
	background: url(../images/macbook-laptop-background.jpg);
	width: 102%;
	height:500px;
	margin-top: 50px;
	margin-left: -8px;

}
#background-big-words{
	    color: white;
    font-size: 50px;
    position: absolute;
   margin-right: 40%;
    margin-top: 12px;
    margin-left: 315px;
}
#background-big-words-center{
	margin-left: 20%;
}
#background-small-words-center{
    margin-left: 20%;
    font-size: 14px;
    margin-left: 60px;
}
#button-green{
        position: absolute;
    font-size: 15px;
    color: white;
    top: 80%;
    margin-left: 36%;
}
#btn-text{
    background: green;
    padding: 10px;
    
}
}
